*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-padding-top: 9.8rem;
    scroll-behavior: smooth;
}
:root {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
}
header {
    background-color: lightsteelblue;
    padding-block: 1rem;
    color: #fff;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    ul {
        display: flex;
        gap: 4rem;
        list-style: none;
    
    a {
        color: #fff;
        text-decoration: none;

    }
    li:hover {
transform: scale(1.1);
font-weight: 700;
transition: ease-in-out .4s;
    }
  }
}

main {
    background-color: lightblue;
    min-height: calc(100svh - 9.8rem);
    padding-block: 3rem;
    text-align: center;

}

.main-container {
    max-width: 120rem;
    margin: 0 auto;
    
    section {
    margin-bottom: 4rem;
    }
    h2 {
        margin-bottom: 2rem;
    }

p {
    max-width: 70rem;
    margin: 0 auto;
    line-height: 2.5rem;
   }
   div { 
    background-color: rgb(0, 64, 160);
    width: 6rem;
    height: 6rem;
    margin-inline:auto ;
    margin-bottom: 1rem;
   }
   .pink {
    background-color: fuchsia;
   }
}
#relative {
    .pink {
        position: relative;
        top: 3rem;
        left: 3rem;
        
    }
}
#absolute {
 position: relative;
    .pink {
        position: absolute;
        top: 0;
        left: 10rem;
    }
}